/* Initalize font and set up page as a vertical stack of 5 horizontal divs */
body {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    font-family: 'Roboto', sans-serif;
}

/*CSS for first div 'header' */
.header{
    background-color: #1F2937;
    display:flex;
    flex-direction:column;
    padding-left:125px;
    padding-right:125px;
    padding-bottom:100px;
    padding-top: 10px;
    gap:75px;
}
.topheader {
    display:flex;
    justify-content: space-between;
    
}
.bottomheader {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items:last baseline;
}
.header-text {
    display:flex;
    flex-direction:column;
    width: 400px;
    flex-wrap:wrap;
}
ul {
    display: flex;
    gap: 20px;
}
li, a {
    list-style:none;
    text-decoration: none;
}
.logo{
    color: #F9FAF8;
    font-size: 20px;
}
.heading {
    color: #F9FAF8;
    font-size:45px;
    font-family: 'Roboto';
    font-weight:bold;
    margin-bottom: 10px;
}
.headerlinks,.subheading{
    color: #cfcfcf;
    font-size: 16px;
    font-weight:100;
}
.signup button {
    color: #F9FAF8;
    background-color: #3882F6; 
    border: none;
    margin-top: 10px;
    padding: 8px 26px;
    border-radius: 10px;
}

/* CSS for second div 'information' */

.information {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom:100px;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.info-heading {
    font-family: Roboto;
    font-weight:bold;
    font-size: 36px;
    color:#1F2937;
}
.blocks {
    display:flex;
    justify-content: center;
    gap:40px;
}
.block {
    display: flex;
    flex-direction:vertical;
    width: 150px;
    flex-wrap:wrap;
    flex-shrink:0;
    text-align:center;
    gap:10px;
}
.subimage {
    border: #3882F6 solid 4px;
    height: 150px;
    width: 150px;
    border-radius: 10px;
}
.subtext {
    font-size:16px;
    color:#717171
}

/* CSS for third div 'quote' */
.quote {
    background-color: #E5E7EB;
    display:flex;
    flex-direction:column;
    padding: 100px 325px;
    gap:0;
}
.quote-text{
    align-self:flex-start;
    flex-wrap:wrap;
    font-size: 33px;
    font-weight:100;
    color:#1F2937;

}
.quote-author {
    align-self:flex-end;
    font-weight:bold;
    font-size:22px;
    color:#1F2937;
}


