body {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    font-family: Roboto;
}
.header{
    background-color: #1F2937;
    display:flex;
    flex-direction:column;
    padding-left:125px;
    padding-right:125px;
    padding-bottom:100px;
    padding-top: 10px;
    gap:75px;
}

.topheader {
    display:flex;
    justify-content: space-between;
    
}
.bottomheader {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items:last baseline;
    
}

.header-text {
    display:flex;
    flex-direction:column;
    width: 400px;
    flex-wrap:wrap;

}

ul {
    display: flex;
    gap: 20px;
}

li, a {
    list-style:none;
    text-decoration: none;
}

.logo{
    color: #F9FAF8;
    font-size: 20px;
}
.heading {
    color: #F9FAF8;
    font-size:45px;
    font-family: Roboto-Bold;
    margin-bottom: 10px;
}
.headerlinks,.subheading{
    color: #cfcfcf;
    font-size: 16px;
    font-weight:100;
}
.signup button {
    color: #F9FAF8;
    background-color: #3882F6; 
    border: none;
    margin-top: 10px;
    padding: 8px 26px;
    border-radius: 10px;
}

